html, body {
  margin: 0;
  padding: 0;
  background-color: #ccebff;
}

h1 {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

p {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

canvas {
  display: block;
  /* vertical-align: middle; */
}

text {
  text-align: center;
}

.randomizerButton {
  padding: 10px;
  background-color: #ccebff;
}
